* {
  margin: 3px;
  margin-left: 35px;
  margin-top: 1px;
  /*margin-bottom: 1.5px;*/
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  outline: none;
}

body {
  min-height: 100%;
  background-image: url("thumb2-field-fence-old-cars.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  background-attachment: fixed;
  /*behavior: url(csshover3.htc);
  display: flex;
  justify-content: left;*/
  }

  #tableReservas tr:hover {
    background: #bd34342a;
  }

  #tableVagas tr:hover {
    background: #5531313b;
  }

  main {
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  #cadastro, #gerenciamento {
  display: flex;
  gap: 10px;
  align-items: end;
  width: 100%;
  justify-content: left;
  flex-wrap: wrap;
 /* background: #F0FFFF;*/
  }

 

  h1 {
    text-align: left;
  }
  
  .divNumero, .divDescricao, .divTipo {
    background-color: #fefefe94;
    border-radius: 15px;
    /*
    display: flex;
    flex-direction: column;*/
  }
  
  #form-vaga button {
    background-color: #d2612cc7;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 34px;
  }
  
  table {
    width: 100%;
    display: flex;
    justify-content: left;
    /*float: left !important;*/
  }
  
  table th, table td {
    width: 98%;
    padding: 20px 0;
    border-radius: 5px;
  }
  
  table th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
  }
  
  table td:last-child {
    text-align: left;
  }
  
  table td a {
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #cccccc09;
    text-decoration: none;
    color: #000;
  }
  
  table td a:hover {
    background-color: #dddddd18;
  }

  .columnNumber {
    width: 80px;
    text-align: left;
  }
  
  .columnType {
    width: 80px;
    text-align: left;
  }

  .columnAction {
    width: 40px;
    text-align: left;
  }
  
  .divTableReserva {
    background-color: #fefefe94;
    border-radius: 15px;
}